/* NB: This file is identical to yoda-portal.css */

/* Font faces {{{ */

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(/static/font/open-sans/OpenSans-Regular.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/static/font/open-sans/OpenSans-Bold.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	src: local('Open Sans Italic'), local('OpenSans-Italic'), url(/static/font/open-sans/OpenSans-Italic.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 700;
	src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(/static/font/open-sans/OpenSans-BoldItalic.woff) format('woff');
}

/* }}} */

.brandbar {
	height: 68px;
	padding: 10px 20px;
}
.brandbar .logo,
.brandbar .auth-action {
	height: 100%;
}
.brandbar .logo img {
	height: 48px;
}
.brandbar .auth-action {
	line-height: 48px;
}

.navbar .nav > li > a {
	font-size: 16px;
	transition: color 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
}

/* Table */
.yoda-table th {
	background-color: #dcdcdc;
	border-color: #ddd;
	padding: 10px!important;
	border-bottom: 1px solid transparent!important;
	color: #333;
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	border-color: #ddd;
}

.password-check-ok {
	color: green;
	font-size: 30px;
}

.btn-primary {
 color:#fff;
 background-color:#008741;
 border-color:transparent
}

.btn-check:focus + .btn-primary, .btn-primary:focus {
  color: #fff;
  background-color: #005917;
  box-shadow: 0 0 0 .25rem rgba(217,174,0,.5);
}

